.feed{
    scroll-snap-type: y mandatory;
    aspect-ratio: 9/16;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    scroll-snap-type: y mandatory;
}

.item{
    scroll-snap-align: center;
}